*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*the style for the navbar section should be after this comment*/
.logo-udemy {
    width: 75px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 06px;
}
.categories {
    margin-right: 10px;
    text-decoration: none;
    position: relative;
    top: -3px;
    font-size: 12px;
    background-color: rgb(215, 216, 219);
}
.placeholder {
    width: 57%;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid #555;
    background-image: url(./image/NicePng_magnifying-glass-png_55201.png);
    background-size: 2.5%;
    background-repeat: no-repeat;
}
input[type="placeholder"] {
    position: relative;
    left: -29px;
}
.business {
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
}
.teach {
    margin-right: 05px;
    text-decoration: none;
    font-size: 12px;
}
.cart-svg {
    width: 16px;
    margin-right: 15px;
    position: relative;
    top: 03px;

}
button {
    margin-right: 03px;
    width: 60px;
    font-size: 12px;
    height: 30px;
}
.world-global {
    width: 15px;
}
.world {
    width: auto;
}

.nav-body {
    background-image: url(./image/shoppercart.png);
    height: 400px;
    width: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
    justify-items: center;
    padding-left: 50px; 
    position: relative;
    left: 150px;

}
.nav-words {
    background-color: white;
    position: relative;
    top: 40px;
    width: 35%;
    margin-top: 20px;
}





/*the style for the header section should be after this comment*/






/*the style for the 'course drop-down' section should be after this comment*/






/*the style for the 'student are viewing' section should be after this comment*/
    





/*the style for the 'top categories' section should be after this comment*/






/*the style for the 'featured topic by category' should be after this comment*/






/*the style for the 'become an instructor' section should be after this comment*/







/*the style for the 'trusted company' section should be after this comment*/







/*the style for the 'udemy business' section should be after this comment*/






/*the style for the 'educational transformation' section should be after this comment*/






/*the style for the footer section should be after this comment*/




