/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*the style for the navbar section should be after this comment*/





/*navbar section ends here*/

/*the style for the header section should be after this comment*/





/*header section ends here*/

/*the style for the 'course drop-down' section should be after this comment*/





/*'course drop-down' section ends here*/

/*the style for the 'student are viewing' section should be after this comment*/
    




/*'student are viewing' section ends here*/

/*the style for the 'top categories' section should be after this comment*/





/*'top categories' section ends here*/

/*the style for the 'featured topic by category' should be after this comment*/





/*'featured topics' section ends here*/

/*the style for the 'become an instructor' section should be after this comment*/






/*'become an instructor' section ends here*/

/*the style for the 'trusted companies' section should be after this comment*/






/*'trusted companies' section ends here*/

/*the style for the 'udemy business' section should be after this comment*/





/*'udemy business' section ends here*/

/*the style for the 'educational transformation' section should be after this comment*/





/*'educational transformation' section ends here*/

/*the style for the footer section should be after this comment*/
footer {
  background-color: rgba(0, 0, 0, 1);
  color: lightgray;
  font-family: 'Intern', sans-serif;
  padding: 10px;
}
.footer_top {
  display: flex;
  flex-direction: column-reverse;
}
.footer_links {
  margin-bottom: 40px;
}
.footer_links li{
  margin-top: 10px;
  list-style-type: none;
}
.footer_links a {
  text-decoration: none;
  color: lightgray;
}
.footer_lang {
  margin-bottom: 20px;
}
.footer_lang button {
  padding: 5px;
  width: 100px;
  background-color: inherit;
  border: 1px solid lightgray;
}
.footer_lang  a {
  text-decoration: none;
  color: lightgray;
  display: flex;
  justify-content: space-evenly;
}
.footer_env {
  margin-bottom: 15px;
}
/*footer section ends here*/
