/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}


body{
  font-family: 'Inter', sans-serif;
  /* line-height: 1.4; */
}

/*the style for the header section should be after this comment*/
.top-nav {
  background-color: rgb(245, 235, 147);
  font-size: 0.8em;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.top-nav div {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.light-font {
  font-weight: 100;
}
/*header section ends here*/

/*the style for the navbar section should be after this comment*/

/* Navbar Styling for small phones */
.topnav-container {
  display: none;
}
.small-nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px lightgray;
}
.small-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle {
  width: 80px;
  min-width: 50px;
  max-width: 120px;
}
.middle img {
  width: 100%;
}
.right a {
  margin-left: 10px;
  color: black;
}
.sidenav-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 700;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  position: fixed;

}
.sidenav-wrapper {
  display: flex;
  /* justify-content: space-between; */
  height: 100%;
}
.sidenav-content {
  background-color: #fff;
  padding-top: 10px;
  padding-left: 15px;
  flex-basis: 70%;
}
.sidenav-content a {
  text-decoration: none;
  font-size: 0.9em;
  color: black;
}
.sidenav-content ul li {
  list-style-type: none;
  margin-top: 10px;
}
.popular {
  margin: 5px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 5px 5px 5px 0;
}
.popular h5,
.more h5 {
  color: dimgray;
}
.popular li {
  display: flex;
  justify-content: space-between;
}
.sidenav-close .round {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}
.more button {
  padding: 10px;
  background-color: black;
  border: none;
}
.more button a {
  color: white;
}
.search {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}
.search input {
  border: none;
  outline: none;
}

/* Navbar for desktop */
@media (min-width: 992px) {
  .small-nav {
    display: none;
  }
  .top-nav {
    font-size: 1em;
  }
  .top-nav div {
    text-align: center;
  }
  .top-nav p .p-below {
    display: block;
  }
  .topnav-container {
    box-shadow: 0 3px 5px lightgray;
    padding: 15px;
  }
  .nav-container {
    display: flex;
    justify-content: space-evenly;
  }
  .logo {
    width: 100px;
  }
  .logo img {
    width: 100%;
  }
  .nav-categories,
  .nav-business,
  .nav-teach {
    position: relative;
    display: inline-block;
  }
  .nav-categories:hover .nav-categories-dropdown,
  .nav-business:hover .nav-business-dropdown,
  .nav-teach:hover .nav-teach-dropdown {
    display: block;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-categories a,
  .nav-business a,
  .nav-teach a {
    color: black;
    font-size: 1.1em;
    font-weight: lighter;
  }
  .nav-categories-dropdown,
  .nav-business-dropdown,
  .nav-teach-dropdown {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 2px 2px 2px 3px lightgray;
    padding: 10px;
    display: none;
    
  }
  .nav-categories-dropdown ul {
    list-style-type: none;
  }
  .nav-categories-dropdown li {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .search-container {
    display: flex;
    /* justify-content: space-evenly; */
    border: 1px solid black;
    background-color: #f1f1f1;
    border-radius: 50px;
    padding: 5px;
    width: 30%;
  }
  .search-container span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-container input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 50px;
    flex-basis: 50%;
  }
  .nav-business-dropdown,
  .nav-teach-dropdown {
    text-align: center;
    width: 200px;
    max-width: 250px;
  }
  .nav-business-dropdown button,
  .nav-teach button {
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: medium;
  }
  .nav-log button {
    background-color: white;
    padding: 10px 15px;
  }
  .nav-sign button {
    background-color: black;
    color: white;
    padding: 10px 15px;
  }
  .nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-globe button {
    background-color: #f1f1f1;
    padding: 10px;

  }
}

/*navbar section ends here*/

/*the style for the 'course drop-down' section should be after this comment*/


.header-container{
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.header-image{
  width: 100%;
  margin-bottom: 1.5rem;
}
.header-image img{
  width: 100%;
  height: auto;
}
.header-content{
  padding: 0rem 1.5rem;
}
.header-content h4{
  font-family: Times New Roman, Georgia, Garamond, Serif;
  font-size: 1.28rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.header-content p{
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.header-search{
  padding: 0rem 1.5rem;
}
.header-search-form{
  width: 100%;
  display: flex;
  background-color: white;
  border: solid 2px black;
}
.header-search-form input {
  width: 90%;
  padding: 1rem 0.5rem;
  border: none;
}
#header-search-icon{
  width: 10%;
  height: auto;
  margin: auto;
}
.header-search-form input:focus {
  border: none;
  outline: none;
}
.course-selection-content{
  display: none;
  width: 100%;
  padding: 0rem 1.5rem;
  margin-bottom: 3rem;
}
.course-selection-content h4{
  font-family: Times New Roman, Georgia, Garamond, Serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.course-selection-content p{
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.subject-drop-down{
  width: 100%;
  padding: 0rem 1.5rem;
  margin-bottom: 3rem;
}
.subject-drop-down ul{
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.subject-drop-down li{
  padding: 1rem 0rem;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-top: solid 1px rgb(210,210,210);
  border-bottom: solid 1px rgb(210,210,210);
}
#drop-down-icon{
  float: right;
}


/*'course drop-down' section ends here*/

/*the style for the 'student are viewing' section should be after this comment*/
    




/*'student are viewing' section ends here*/


/*the style for the 'top categories' section should be after this comment*/
.topCategories_container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1.5rem;
  margin-top: 1em;
  box-sizing: border-box;
}

.topCategories_container h2{
  font-family: Arial, verdana, Helvetica, Sans-Serif;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

ul.topCategories_subContainer1{
  list-style-type: none;
  box-sizing: border-box;
}

.topCategories_subContainer1 li{
  color: inherit;
  font-weight: inherit;
  font-size: 0.9rem;
  font-family: Arial, verdana, Helvetica, Sans-Serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.7rem;
  box-sizing: border-box;
  margin-right: 0.1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.topCategories_subContainer1 a{
  color: inherit;
}

.topCategories_subContainer1 li:hover{
  background-color: rgb(245, 245, 245);
}

.topCategories_subCategories{
  display: none;
}




/*'top categories' section ends here*/

/*the style for the 'featured topic by category' should be after this comment*/
.feat-topics, .instructor, .trust-companies{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
h2{
    font-weight: 800;
}

    /* style for featured topics by category */
.feat-topics{
    padding: 1rem 1.5rem;
    background-color: #f7f9f9;
}

.feat-topics h2{
    margin-bottom: 1rem;
}

.feat-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feat-container p{
    font-weight: bold;
}

.feat-container a{
    color: blue;
}

.topic-links{
    margin-bottom: 0.5rem;
    margin-top: 1em;
}

.explore-link{
    margin-top: 2rem;
}

.explore-link a{
    border: 1px solid black;
    padding: 0.7rem;
    color: black;
    text-decoration: none;
}





/*'featured topics' section ends here*/

/*the style for the 'become an instructor' section should be after this comment*/
.instructor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.become-instructor{
  padding: 2rem;
}

.instructor-image{
  padding: 1rem;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.instructor-image img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.become-instructor h2, .become-instructor p{
    margin-bottom: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center; 
}

.become-instructor a{
    display: block;
    max-width: 200px;
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.start-teaching{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center; 
}






/*'become an instructor' section ends here*/

/*the style for the 'trusted companies' section should be after this comment*/
.trust-companies-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center; 
}

.trust-companies{
  padding: 2rem;
    background-color: #f7f9f9;
}
    /* end of style */

#udemy-business{
    max-width: 120px;
}

#business{
    display: block;
    width: 80%;
}





/*'trusted companies' section ends here*/

/*the style for the 'udemy business' section should be after this comment*/





/*'udemy business' section ends here*/

/*the style for the 'educational transformation' section should be after this comment*/





/*'educational transformation' section ends here*/



/*the style for the footer section should be after this comment*/
footer {
  background-color: rgba(0, 0, 0, 1);
  color: lightgray;
  /* font-family: 'Intern', sans-serif; */
  padding: 10px;
  width: 100%;
}

footer a {
  color: lightgray;
  text-decoration: none;
}

.footer_lang {
  margin-bottom: 20px;
}

.footer_lang button {
  padding: 5px;
  width: 100px;
  background-color: inherit;
  border: 1px solid lightgray;
}

.footer_lang  a {
  display: flex;
  justify-content: space-evenly;
}

.footer_lang a i {
  font-size: 20px;
}

.footer_links {
  margin-bottom: 40px;
}

.footer_links li{
  margin-top: 10px;
  list-style-type: none;
}

.footer_env {
  margin-bottom: 15px;
}

.footer_name {
  text-align: left;
}

.team_name {
  text-align: center;
  font-size: 0.7em;
  color: wheat;
}
/* Styling for desktop */

@media (min-width: 1024px) {
  .header-search-form{
    display: none;
  }
  .header-container{
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
    padding-left: 1rem;
    padding-right: 5rem;
    padding-bottom: 0;
    padding-top: 0;
    box-sizing: border-box;
  }
  .header-image{
    width: 55%;
    height: 100%;
  }
  .header-content{
    background-color: white;
    width: 45%;
    height: 50%;
    margin-top: 1rem;
    margin-right: 3rem;
    box-shadow: 10px 10px rgba(210, 210, 210, 0.2);
    padding: 0.5rem 1rem 0.7rem;
    box-sizing: border-box;
  }
  .header-content p{
    margin: 0;
    font-size: 0.85rem;
  }
  .header-content h4{
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .course-selection-content{
    display: block;
    box-sizing: border-box;
  }
  .course-selection-container{
    padding: 0rem 1.5rem;
    box-sizing: border-box;
  }
  .subject-drop-down ul{
    display: flex;
    overflow: auto;
    box-sizing: border-box;
  }
  .subject-drop-down li{
    border: none;
    margin-right: 1rem;
    overflow: auto;
    word-break: keep-all;
  }
  .subject-drop-down a{
    color: rgb(120,120,120);
  }
  .subject-drop-down a:active, a:hover{
    color: black;
  }
  #drop-down-icon{
    display: none;
  }
  .topCategories_container h2{
    margin-left: 1.5rem;
    display: block;
  }
   .topCategories_subContainer2{
     padding: 0rem 1.5rem;
   }
}


/* Styling for bigger screens*/
@media (min-width: 600px) {
  footer {
    padding: 20px 50px;
  }
  .footer_top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer_links  {
    display: flex;
    justify-content: space-between;
  }
  .footer_links ul:nth-child(2),
  .footer_links ul:last-child {
    margin-left: 3rem;
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .footer_links ul:nth-child(2),
  .footer_links ul:last-child {
    margin-left: 5rem;
  }
}

/*footer section ends here*/

@media (min-width: 768px) {
  .topCategories_subContainer1{
    display: none;
  }

  .topCategories_subCategories{
    width: 100%;
    display: block;
    display: flex;
    box-sizing: border-box;
  }

  .topCategory{
    width: 25%;
    text-align: left; 
    color: inherit;
    font-family: Arial, verdana, Helvetica, Sans-Serif;
    font-size: 0.8rem;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  .topCategory img{
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    transition: all 1.1s;
  }

  .topCategory2{
    width: 25%;
    text-align: left; 
    color: inherit;
    font-family: Arial, verdana, Helvetica, Sans-Serif;
    font-size: 0.8rem;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 2rem;
  }

  .topCategory2 img{
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    transition: all 1.1s;
  }

  .topCategory a{
    color: #1c1d1f;
  }

  .topCategory2 a{
    color: #1c1d1f;
  }

  .topCategory img:hover{
transform: scale(1.1,1.1);
}

.topCategory2 img:hover{
  transform: scale(1.1,1.1);
}

/* media query for phones and tablets */
@media screen and (max-width:799px){
    .feat-container{
        gap: 1em;
    }

    .feat-topics{
        padding: 1em;
    }
    
    .explore-link{
        margin: 2rem auto;
        width: 100%;
    }
    
    .explore-link a{
        display: block;
        max-width: 350px;
        text-align: center;
        font-weight: bold;
    }
    
    .instructor{
   
}
@media screen and (min-width:799px){
   .instructor{
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .instructor-image img{
        display: block;

        max-width: 70%;

        max-width: 60%;

        padding: 0rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .become-instructor{
        text-align: center;
        padding: 0rem;
        justify-content: center;
        margin-left: auto;
        margin-righg: auto;
    }
    
    .become-instructor a{
        display: block;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid;
        text-align: center;
        justify-content: center;
    }
    
    #udemy-business-container{
        flex-direction: row;
    }
    
    .trust-companies-image{
        position: relative;
        text-align: center;
    }
    
    .trust-companies-cont h2{
        text-align: center;
    }
    
    #business{
        position: relative;
        margin: auto;
    }
}
    /* media query for medium screen sizes */
@media screen and (min-width:800px) and (max-width:1000px){
    .instructor{
        max-width: 700px;
    }
    
    .instructor-container{
      
    }
    
    .become-instructor{
        padding: 0px;
    }
    
    .instructor-image img{
        display: block;
        max-width: 70%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center; 
    }
}
}

